.sclored{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 2%;
    gap: 2rem;
    overflow-x: auto;
}
.box{
    height: 13rem;
    width: 18rem;
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 5.5px;
    background: rgba(0, 0, 0, 0.63);    
}
::-webkit-scrollbar-thumb{
    background: #FFF;
    border-radius: 4.5px;
}
.text{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    width: 10rem;
}
